name: Deployment

on:
  push:
    branches:
      - stable

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DEEPPARSE_RELEASE_BUILD: "1"

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install -e .[all]
      - name: Building doc
        run: |
          cd docs
          ./rebuild_html_doc.sh
          cd ..
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html/