name: Docker Image CI

on:
  push:
  pull_request:
  release:
    types: [ created ]
  schedule:
    # Run the tests at 00:00 the first day of each month
    - cron: "0 0 1 * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Appears that we get disk memory space problem, thus as recommended by this
      # thread (https://github.com/actions/runner-images/issues/2840#issuecomment-790492173)
      # we clean the runner before starting the tests to free some spaces.
      - name: Remove unnecessary files
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - uses: actions/checkout@v4
      - name: Build the Docker image
        run: |
          docker build . --file Dockerfile --tag poutyne:$(date +%s)