name: Linting

on: [ push, pull_request ]

jobs:
  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10" ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -Ur requirements.txt
          pip install -Ur styling_requirements.txt
          pip install -Ur tests/requirements.txt
          pip install -e .
      - name: PyLint
        run: |
          pylint deepparse/ tests/
      - name: Install code examples dependencies
        run: |
          pip install -U deepparse
      - name: PyLint code examples
        run: |
          DJANGO_SETTINGS_MODULE=settings pylint examples/ --disable=no-member